*, 
*::before, 
*::after  {
    box-sizing: border-box; 
}

*   {
    margin: 0;
}

:root   {
    --bg-color: #c8dabe;
    --nav-button: #404040;
    --nav-line: #9ba885;
}

input, button, textarea, select{
    font: inherit; 
}

body    {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}