.footer   {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 7.5rem;
    align-items: start;
    margin-bottom: 1.25rem;
}

.Links,
.Contacts  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5vh;
    align-content: center;
}

/* Links */

.Links h1  {
    text-align: center;
}

.Links .container   {
    max-width: 25rem;
    min-height: 15vh;
    padding-bottom: 0;
}

.Links a    {
    display: flex;
    justify-content: center;
    width: 32%;
}

.Links img  {
    width: 80%;
    margin: 0.625rem;
}

.Links a .LIlink    {
    width: 70%;
    margin-right: 0;
}

.Links a .GHlink    {
    margin-bottom: 0.938rem;
}

.Links a .MSlink  {
    width: 100%;
}

/* Contacts */

.Contacts h1    {
    text-align: center;
}

.Contacts ul    {
    max-width: 23.125rem;
    padding: 0.625rem;
    list-style-type: none;
}

.Contacts ul li::before {
    content: "📧 ";
}

.Contacts ul li:first-of-type::before {
    content: "🧑 ";
}

.Contacts ul li:last-of-type::before {
    content: "📱 ";
    margin-right: 0.2rem;
    margin-left: 0.3rem;
}