.footer   {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 120px;
    align-items: start;
    margin-bottom: 20px;
}

.Links,
.Contacts  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-content: center;
}

/* Links */

.Links h1  {
    text-align: center;
}

.Links .container   {
    max-width: 400px;
    min-height: 15vh;
    padding-left: 10px;
    padding-bottom: 0;
}

.Links img  {
    width: 90px;
    margin: 10px;
}

.Links a .GHlink    {
    width: 100px;
}

.Links a .MSlink  {
    width: 130px;
}

/* Contacts */

.Contacts h1    {
    text-align: center;
}

.Contacts ul    {
    max-width: 370px;
    padding: 10px 25px 10px;
    list-style-type: none;
    padding-left: 2rem;
}

.Contacts ul li {
    padding-left: 2rem;
    background-image: url(img/projectimg.jpg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}