/* *   {
    border: 1px hsl(0, 98%, 20%) solid;
} */

nav a   {
    text-decoration: none;
    color: black;
}

.nav    {
    list-style: none;
}

.container  {
    display: flex;
    align-items: center;
}

.logo   {
    flex: 9;
    margin-left: 50px;
}

.logo img   {
    border: 1px solid black;
    border-radius: 100%;
    margin: 20px;
    margin-left: 0;
    transition: box-shadow 1s, padding-top 1s, padding-left 1s;
}

.logo img:hover {
    box-shadow: 2px 2px 2px black, inset 2px 2px var(--nav-line);
    padding-top: 1px;
    padding-left: 1px;
}

.languages   {
    flex: 1;
}

#languages   {
    width: 2.6rem;
    font-size: 0.8rem;
    height: 1.5rem;
}

.language  {
    font-size: 0.8rem;
    color: hsl(0, 0%, 5%);
    background-color: hsl(0, 0%, 95%);
}

nav {
    background-color: var(--nav-line);
    height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    gap: 50px;
    padding: 0;     /* z nějakého důvodu se mi tam dere padding left 40px, proto reset */
}

.nav a  {
    text-align: center;
    vertical-align: middle;
    font-size: 1.4rem;
    padding: 10px 20px;
    border: 1px solid var(--nav-button);
    border-radius: 10px;
    color: var(--nav-button);
    background-color: hsl(0, 0%, 90%);
    /* box-shadow: 1px 1px 2px black; */
    transition: all 1s;
}

.nav a:hover    {
    background-color: hsl(0, 0%, 70%);
    color: hsl(0, 0%, 10%);
    box-shadow: 1px 1px 1px black;
}