/* *   {
    border: 1px hsl(0, 98%, 20%) solid;
} */

.navMargin  {
    margin-bottom: 60px;
}

.container  {
    display: flex;
    align-items: center;
    min-height: 24vh;
    padding-bottom: 0.313rem;
}

.logo   {
    flex: 9;
    margin-left: 3.125rem;
}

.logo img   {
    max-width: 15.625rem;
    transition: border 1s, box-shadow 1s;
}

.logo img:hover {
    box-shadow: 2px 2px 2px var(--nav-line10);
}

.languages   {
    flex: 1;
}

#languages   {
    width: 2.6rem;
    font-size: 0.8rem;
    height: 1.5rem;
}

.language  {
    font-size: 0.8rem;
    color: hsl(0, 0%, 5%);
    background-color: hsl(0, 0%, 95%);
}

/* nav bar up to width: 750px */

.responsiveNav  {
    display: none;
}

.menuIcon {
    height: 7px;
    margin: 3px;
    width: 2.8rem;
    background-color: var(--main-border);
    border-radius: 10px;
}

.menuIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4.3rem;
    border: 2px solid var(--font-30);
    border-radius: 15px;
    box-shadow: var(--nav-line10) 2px 5px 10px;
    margin: .3rem;
}

.menuIconContainer:hover    {
    border: 2px solid var(--nav-line10);
}

/* nav bar width: 750px + */

.desktopNav {
    background-color: var(--nav-line10);
    min-height: 3.75rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease-out;
}

.fixed  {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-border);
}

nav a   {
    text-decoration: none;
    color: black;
}

.nav    {
    list-style: none;
}

.navigation {
    display: flex;
    gap: 4vw;
    padding: 0;    /* z nějakého důvodu se mi tam dere padding left 40px, proto reset */
}

.nav a  {
    text-align: center;
    vertical-align: middle;
    font-size: 1.4rem;
    padding: 0.625rem 1.25rem;
    border: 1px solid var(--bg-color60);
    border-radius: 10px;
    color: var(--font-30);
    background-color: hsl(0, 0%, 90%);
    transition: all 1s;
}

.nav a:hover    {
    background-color: hsl(0, 0%, 75%);
    color: hsl(231, 23%, 10%);
}

#positionPoint  {
    opacity: 0;
}

@media screen and (max-width: 750px) {
    .responsiveNav  {
        display: flex;
        justify-content: flex-end;
        background-color: var(--nav-line10);
        min-height: 3rem;
        margin-bottom: 1rem;
    }

    .desktopNav {
        display: none;
    }
}