.box-shadow {
    box-shadow: 10px 10px 1px var(--nav-line10);
    border: 1px solid var(--main-border);
    border-radius: 10px;
}

/* About me */

.AboutMe    {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.AboutMe h1 {
    display: flex;
    margin-left: 6.25rem;
    margin-top: 3.125rem;
    margin-bottom: 0;
    width: 100vw;
}

.AboutMe .container {
    display: block;
    flex: 7;
    margin: 1.25rem;
    min-height: 15vh;
    margin-left: 3.125rem;
    background-color: var(--bg-color60);
    z-index: 2;
}

.MyPhoto    {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MyPhoto img    {
    max-width: 9rem;
}

/* My Projects */

.MyProjects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 7fr;
    margin-top: 3.125rem;
    align-items: center;
    justify-items: center;
}

.MyProjects h1  {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 6.25rem;
    margin-bottom: 1.25rem;
    align-self: end;
    justify-self: end;
}

.MyProjects .container  {
    display: block;
    min-height: 13vh;
    margin: 1.25rem;
    margin-right: 3.125rem;
    background-color: var(--bg-color60);
    z-index: 2;
}

.MyProjects .container h2 {
    margin-bottom: 1rem;
}

.MyProjects img {
    max-width: 12.5rem;
    margin: 1.25rem;
}

.shadow {
    display: none;
}

@media screen and (max-width: 750px) {
    .AboutMe    {
        flex-direction: column;
    }

    .AboutMe h1 {
        justify-content: center;
        margin: 0;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }

    .AboutMe .container   {
        width: clamp(18rem, 80vw, 40rem);
        padding-top: 1.5rem;
        margin: 0;
    }

    .AboutMe .MyPhoto   {
        position: relative;
        width: 0;
        order: -1;
    }

    .MyPhoto img    {
        position: absolute;
        max-width: 7rem;
        top: 40px;
        left: 15vw;
        z-index: 3;
        border: 2px var(--nav-line10) solid;
        box-shadow: 1px 2px 3px var(--font-30);
        border-radius: 10px;
    }

    .MyPhoto .shadow    {
        display: block;
        position: absolute;
        z-index: 1;
        max-width: 7rem;
        box-shadow: 12px 12px 1px var(--nav-line10);
        border: 1px solid var(--main-border);
        border-radius: 10px;
    }

    .MyProjects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        margin-top: 6rem;
    }

    .MyProjects h1  {
        align-self: center;
        margin-right: 0;
    }

    .MyProjects .container  {
        width: clamp(18rem, 80vw, 40rem);
        margin: 0;
    }

    .ProjectPic {
        position: relative;
        align-self: flex-start;
        width: clamp(18rem, 80vw, 40rem);
        display: flex;

    }

    .ProjectPic img {
        position: absolute;
        z-index: 3;
        max-width: 8rem;
        border: 2px var(--nav-line10) solid;
        box-shadow: 1px 2px 3px var(--font-30);
        border-radius: 10px;
        margin: 0;
    }

    .ProjectPic:first-of-type img   {
        top: -30px;
        left: 60vw;
    }

    .ProjectPic:last-of-type img   {
        top: -20px;
        left: 60vw;
    }

    .ProjectPic .shadow     {
        display: block;
        position: absolute;
        z-index: 1;
        max-width: 8rem;
        box-shadow: 12px 12px 1px var(--nav-line10);
        border: 1px solid var(--main-border);
        border-radius: 10px;
    }
}

@media screen and (max-width: 500px) {
    .ProjectPic:first-of-type img   {
        top: -30px;
        left: 53vw;
    }

    .ProjectPic:last-of-type img   {
        top: -20px;
        left: 53vw;
    }
}