h1  {
    font-family: "Montserrat", sans-serif;
    color:var(--nav-button);
    margin: 10px;
}

p   {
    font-family: "Montserrat", sans-serif;
    margin: 10px;
}

.AboutMe    {
    display: flex;
}

.AboutMe .container {
    display: block;
    flex: 7;
    box-shadow: 10px 10px 1px var(--main-shadow);
    border: 1px solid var(--main-border);
    margin: 20px;
    border-radius: 10px;
}

.placeholder    {
    flex: 3;
}