.box-shadow {
    box-shadow: 10px 10px 1px var(--nav-line10);
    border: 1px solid var(--main-border);
    border-radius: 10px;
}

/* About me */

.AboutMe    {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.AboutMe h1 {
    display: flex;
    margin-left: 6.25rem;
    margin-top: 3.125rem;
    margin-bottom: 0;
    width: 100vw;
}

.AboutMe .container {
    display: block;
    flex: 7;
    margin: 1.25rem;
    min-height: 15vh;
    margin-left: 3.125rem;
}

.MyPhoto    {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MyPhoto img    {
    max-width: 9rem;
}

/* My Projects */

.MyProjects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 7fr;
    margin-top: 3.125rem;
}

.MyProjects h1  {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 6.25rem;
    margin-bottom: 1.25rem;
    align-self: end;
    justify-self: end;
}

.MyProjects .container  {
    display: block;
    min-height: 13vh;
    align-self: center;
    margin: 1.25rem;
    margin-right: 3.125rem;
}

.MyProjects .container h2 {
    margin-bottom: 1rem;
}

.ProjectPic {
    justify-self: center;
    align-self: center;
}

.MyProjects img {
    max-width: 12.5rem;
    margin: 1.25rem;
}