.box-shadow {
  box-shadow: 10px 10px 1px var(--muted-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.about-me,
.my-projects {
  overflow: hidden;
  padding-bottom: 1rem;
}

/* About me */

#about-me {
  scroll-margin-top: 4rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  padding-top: 4rem;
}

.about-me h1 {
  display: flex;
  margin-left: 15vw;
  align-self: flex-start;
}

.me {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4rem;

  padding: 0 4rem;
}

.me img {
  max-width: 11rem;
}

.me article {
  display: block;
  min-height: 15vh;
  max-width: 60rem;
  padding: 0.3rem;
  background-color: var(--card-bg-color);
  z-index: 2;
}

.flavor-log-link {
  color: inherit;
}

/* My Projects */

.my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 4rem;
}

.my-projects h2 {
  margin-right: 8rem;
  align-self: end;
}

.project {
  display: flex;
  align-items: center;
  padding: 0px 4rem;
}

/* Project links */

.project .gh-link-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 4.4rem;
  margin-top: 1rem;
  font: inherit;
}

.gh-link-container .action-button {
  text-align: left;
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: 0;
  border-radius: 5px 0 0 0;
  margin: 0;
  padding: 0.625rem;
  box-shadow: 1px 2px 2px var(--muted-color);
  cursor: pointer;
  margin-right: -0.3rem;
  background-color: var(--card-bg-color);
  transition: color 0.3s;
}

.gh-link-container .action-button:hover {
  color: var(--accent-color);
}

.action-button p {
  margin: 0;
}

.gh-link-container a {
  text-decoration: inherit;
  color: inherit;
}

.gh-link-container a:last-child {
  background-color: var(--card-bg-color);
  box-shadow: 1px 2px 2px var(--muted-color);
  border: 1px solid var(--border-color);
  border-right: none;
  border-radius: 0 0 0 5px;
  margin-right: -0.3rem;
  transition: color 0.3s;
}

.gh-link-container a:last-child:hover {
  color: var(--accent-color);
}

.action-button-mobile {
  display: none;
}

/* Project description */

.project article {
  display: block;
  min-height: 9rem;
  max-width: 60rem;
  padding: 0.2rem;
  background-color: var(--card-bg-color);
  z-index: 2;
  order: 1;
}

.project .container h3 {
  margin-bottom: 1rem;
}

.project > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project .toggle-cursor {
  cursor: unset;
}

.project img {
  max-width: 12.5rem;
  margin-right: 3rem;
}

.shadow {
  display: none;
}

.tech-stack {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.tech-stack span {
  display: flex;
  font-weight: 600;
  margin: 0;
  margin-right: 0.5rem;
}

/***** responsive *****/

@media screen and (max-width: 850px) {
  /* About me */

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: nowrap;
    gap: 0;
  }

  .about-me h1 {
    align-self: center;
    margin: 0;
    margin-bottom: -5rem;
    margin-top: 5rem;
    padding-right: 24vw;
  }

  .about-me article {
    width: clamp(18rem, 80vw, 40rem);
    padding-top: 1.5rem;
    margin: 0;
  }

  .me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: clamp(18rem, 80vw, 40rem);
    min-height: 10rem;
    gap: 0;
    padding: 0;
    padding-bottom: 1rem;
  }

  .img-wrapper {
    position: relative;
    right: 7vw;
    z-index: 3;
    margin-bottom: -9.5rem;
  }

  .me img {
    max-width: 7rem;
    box-shadow: 1px 2px 3px var(--muted-color);
  }

  .me .shadow {
    display: block;
    margin-right: 7vw;
    z-index: 1;
    max-width: 7rem;
    box-shadow: 12px 12px 1px var(--muted-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: -1.4rem;
  }

  /* My projects */

  .my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 6rem;
  }

  .my-projects h2 {
    align-self: center;
    margin-right: 0;
    margin-bottom: 0;
  }

  /* Project description */

  .project article {
    width: clamp(18rem, 80vw, 40rem);
    margin: 0;
    z-index: 2;
    max-height: 90%;
    order: unset;
  }

  .project {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    width: clamp(18rem, 80vw, 40rem);
    min-height: 10rem;
    padding: 0;
    padding-bottom: 1rem;
  }

  .project a {
    display: block;
    position: relative;
    z-index: 3;
    margin-bottom: -5.8rem;
    right: 8vw;
  }

  .project:nth-of-type(1) a {
    margin-bottom: -5.7rem;
  }

  .project:nth-of-type(3) a {
    margin-bottom: -5.5rem;
  }

  .project .toggle-cursor {
    cursor: pointer;
  }

  .project img {
    max-width: 8rem;
    border: 2px var(--border-color) solid;
    border-bottom: none;
    box-shadow: 1px 0px 3px var(--muted-color);
    border-radius: 10px 10px 0 0;
    margin: 0;
    margin-bottom: 0.2rem;
  }

  .project .shadow {
    display: block;
    z-index: 1;
    box-shadow: 12px 12px 1px var(--muted-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: -0.5rem;
    margin-right: 8vw;
  }

  .action-button-mobile {
    margin: 0;
    font-weight: 500;
    display: block;
    position: absolute;
    width: 8rem;
    color: var(--font-color);
    box-shadow: 1px 1px 3px var(--muted-color);
    font-size: 0.7rem;
    text-align: center;
    bottom: -0.6rem;
    border: 2px var(--border-color) solid;
    border-top: none;
    border-radius: 0 0 7px 7px;
    background-color: var(--card-bg-color);
    line-height: 1rem;
  }

  /* Project links */

  .project .gh-link-container {
    display: block;
    height: 3.125rem;
    border: none;
    max-width: unset;
    align-self: unset;
    margin-top: 0;
    margin-right: 12vw;
  }

  .gh-link-container a {
    position: relative;
    right: 0;
  }

  .code-link {
    box-shadow: 5px 5px 1px var(--muted-color);
    position: relative;
    border: 1px solid var(--border-color);
    border-top: 0;
    border-radius: 0 0 10px 10px;
    z-index: 3;
    background-color: var(--card-bg-color);
    max-width: 8rem;
    padding-top: 0.1rem;
    text-align: center;
  }

  .gh-link-container .action-button {
    display: none;
  }

  .gh-link-container a:last-child {
    background-color: inherit;
    box-shadow: none;
    border: none;
    z-index: 3;
    border-radius: 0 0 10px 10px;
  }

  #about-me,
  #my-projects,
  #links,
  #contacts {
    scroll-margin-top: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .about-me h1 {
    padding-left: 0.5rem;
    margin-bottom: -4rem;
    margin-top: 2rem;
    max-width: 15rem;
  }

  .img-wrapper {
    margin-bottom: -8.2rem;
    right: 6vw;
  }

  .me img {
    max-width: 6rem;
  }

  .me .shadow {
    max-width: 6rem;
    margin-bottom: -1.5rem;
    margin-right: 6vw;
  }

  .project > a {
    right: 7vw;
  }

  .project .shadow {
    margin-right: 7vw;
  }
}

/* 1440 px */

@media screen and (min-width: 1440px) {
  .about-me h1 {
    margin: 1rem 0 2rem;
    align-self: center;
  }

  .my-projects h2 {
    margin: 1rem 0 2rem;
    align-self: center;
  }
}
