/* nav bar up to width: 850px */

.responsive-nav {
  display: none;
}

.menu-icon {
  height: 7px;
  margin: 3px;
  width: 2.3rem;
  background-color: var(--accent-color);
  border-radius: 10px;
  transition: 0.7s;
}

.menu-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3.3rem;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 1px 2px 5px var(--muted-color);
  margin: 0.3rem;
  transition: 1s;
  background-color: inherit;
}

.menu-icon-container:hover {
  cursor: pointer;
}

.menu-icon-container:hover .menu-icon {
  background-color: var(--accent-hover);
}

.responsive-nav .menu-icon-container .menubar1 {
  transform: translate(0, 13px) rotate(40deg);
  background-color: var(--accent-color);
}

.responsive-nav .menu-icon-container .menubar2 {
  opacity: 0;
}

.responsive-nav .menu-icon-container .menubar3 {
  transform: translate(0, -13px) rotate(-40deg);
  background-color: var(--accent-color);
}

.responsive-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  width: 20rem;
  top: 4.15rem;
  right: 0;
  padding: 0;
  font-size: 2rem;
  gap: 0.1rem;
  z-index: 10000;
}

.responsive-menu .menu-item {
  display: flex;
  list-style: none;
  width: 20rem;
  background-color: var(--card-bg-color);
  min-height: 3rem;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.responsive-menu .menu-item:hover {
  border: 2px groove var(--muted-color);
}

.responsive-menu .menu-item:active {
  border: 2px ridge var(--border-color);
}

.responsive-menu .menu-item a {
  text-decoration: none;
  color: var(--font-color);
  margin: 0;
  padding: 0.625rem;
  padding-right: 12rem;
}

.responsive-menu .menu-item:nth-child(2) > a {
  padding-right: 5rem;
}

.responsive-menu .menu-item-en a {
  padding-right: 9rem;
}

.responsive-menu .menu-item-en:nth-child(2) > a {
  padding-right: 7.5rem;
}

.responsive-menu .menu-item-en:nth-child(3) > a {
  padding-right: 14rem;
}

/* nav bar width: 850px + */

.desktop-nav {
  background-color: var(--navbar-bg-color);
  min-height: 3.75rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  transition: background-color 0.3s ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.fixed {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--navbar-bg-color);
}

.nav {
  list-style: none;
}

.navigation {
  display: flex;
  gap: 3.5vw;
  padding: 0;
}

.nav-bar-logo {
  display: flex;
  margin-left: -1.6rem;
}

.nav-bar-logo img {
  transition: box-shadow 0.5s;
}

.nav-bar-logo img:hover {
  box-shadow: 2px 2px 2px var(--muted-color);
}

.nav a {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.625rem 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--card-bg-color);
  transition: all 0.3s;
  text-decoration: none;
}

.nav a:hover {
  transform: translateY(-1px);
  color: var(--accent-color);
}

.nav-bar-languages .language {
  color: var(--font-color);
  border-color: var(--font-color);
}

.nav-bar-languages .language:hover {
  text-shadow: 2px 1px 2px var(--muted-color);
}

#position-point {
  opacity: 0;
}

.hide {
  display: none;
}

@media screen and (max-width: 850px) {
  .responsive-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--navbar-bg-color);
    min-height: 3rem;
    margin-bottom: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .filler {
    height: 3.7rem;
  }

  .desktop-nav {
    display: none;
  }

  .header .container {
    display: none;
  }

  .responsive-lang {
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    flex: 0;
  }

  .responsive-lang p {
    margin: 0;
  }

  .responsive-logo {
    padding-top: 0.5rem;
    flex: 0;
    margin: 0;
    margin-right: auto;
    margin-left: 1rem;
  }

  .responsive-logo img {
    width: 4rem;
  }

  .responsive-logo img:hover {
    box-shadow: 2px 2px 2px var(--muted-color);
  }
}
